* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  height: 100vh;
  background-color: bisque;
}

div {
  border-radius: 20px;
  width: 100px;
  height: 100px;
  background-color: brown;
}
