* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: black;
  height: 300px;
  width: 250px;

  position: static;

  border-radius: 20px;
}

/* .cards {
  background-color: pink;
  height: 100px;
  width: 100px;

  /* overflow: hidden;
  background-position: 50px; 
} */

@media (max-width: 1300px) {
  body {
    background-color: red;
  }
  .card {
    position: relative;
    top: 250px;
    right: 400px;
  }
}

@media (max-width: 900px) {
  body {
    background-color: yellow;
  }
  .card {
    position: fixed;
    top: 0;
    left: 0;
  }
}

@media (max-width: 500px) {
  body {
    background-color: green;
  }
  .card {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
